
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

/*----------------------------------------------------------------------*/
/*-----------------------  Navigation Bar Start  -----------------------*/
/*----------------------------------------------------------------------*/


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;


  position: fixed;  /*making nav bar sticky*/
  width: 100%;
}

#brand {
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;

}

#brand a {
  color: #09c372;

}

nav, ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav, ul a {
  color: white;
}

nav, ul li {
  padding: 5px;
  margin-left: 10px;
}

nav, ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.open #mobile-menu {
  background-color: #1d1f1d;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}


#mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}


#mobile-menu li {
  margin-bottom: 3px;
}


@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #mobile-menu {
    border: cyan 2px solid;
    height: auto;
  }
  body #index_text {
    padding-top: 170px;
  }
}


/*----------------------------------------------------------------------*/
/*------------------------  Navigation Bar End  ------------------------*/
/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*----------------------  Video Background Start  ----------------------*/
/*----------------------------------------------------------------------*/

#videoBG {
  position: fixed;
  z-index: -1 ;
  opacity: 0.2;

}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
        width: auto;
        height: 100%;
  }
}


/*Code so that when super small, It will show an image on mobile devices*/

@media (max width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url('images/poster.jpg');
    background-size: cover;
  }

  


}

/*----------------------------------------------------------------------*/
/*-----------------------  Video Background End  -----------------------*/
/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*-------------------------  Home Page Start  -------------------------*/
/*----------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#index_text{
  margin: 0;
  padding: 0;
  padding-top: 250px;
  margin-top: 100px;
}

.index_body {
  padding-top: 0.1px;
}

.index_body #index_text h1, p{
  text-align: center;
  margin: 10px;
  color: white;
}

#index_text h1{
  font-family: 'Kaushan Script', cursive;

}

#index_text p{
  font-size: 20px;
}

#index_btn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

#index_btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: .5px solid white;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

#index_btn a span{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
    z-index: -1;
    transition: .5s;

}

#index_btn a:hover span{
  width: 100%;
}

#index_btn a:hover{
  color: black;
}

@media only screen and (min-width: 768px){
  body #index_text {
    padding-top: 280px;
  }
}

@media screen and (max-width: 650px) {
  #index_text{
  margin: 0;
  padding: 0;
  padding-top: 250px;
  }
}

/*Dimensions:  iPad*/
@media only screen and (device-width: 768px) {
  #index_text{
  margin: 0;
  padding: 0;
  padding-top: 250px;
  }
}

/*----------------------------------------------------------------------*/
/*--------------------------  Home Page End  ---------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*-------------------------  About Page Start  -------------------------*/
/*----------------------------------------------------------------------*/

.about_body {
  padding-top: 0.1px;
}

.about_wrapper {
  width:  100%;
  height:  100vh;
 /* background-color: #161922;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_wrapper .about_box img {
  padding-top: 72px;
  height:  auto;
  width:  420px;
  max-width: 100%;
}

.text {
  width:  550px;
  max-width: 100%;
  padding:  0 10px;
}

.about_box {
  width:  1280px;
  max-width:  95%;
  margin:  0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  color: #ffcc74;
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text h5 {
  color:  white;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.text h6 {
margin:  0;
padding: 0;

  color: #c0c4d6;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.about_button {
  background-color: #ffcc74; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.about_button:hover {
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #ffcc74;
  color:  #ffcc74;
  transition:  .4s;
  cursor: pointer;
}

/*Dimensions:  iPhone X*/
@media screen and (max-width: 650px) {
  .about_box {
    margin-bottom: 35px;
  }

  .text h1 {
    font-size: 60px;
    margin-bottom: 25px;
  }

  .about_wrapper .about_box img {
    padding-top: 690px;
  }

}

/*Dimensions:  iPad*/
@media only screen and (device-width: 768px) {
  .text {
    width:  650px;
    max-width: 100%;
    padding:  0 10px;
    margin-top: 20px;
  }

  .about_wrapper .about_box img {
    padding-top: 450px;
  }
}


/*----------------------------------------------------------------------*/
/*--------------------------  About Page End  --------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*------------------------  Gallery Page Start  ------------------------*/
/*----------------------------------------------------------------------*/


h1 {
  color: white;
  font-size: 24px;
  font-family: 'Dokdo' , cursive;
  text-align: center;
  padding-top: 20px;
}

.gallery_body p {
  color: white;
  font-size: 18px;
  font-family: 'Dokdo' , cursive;
  text-align: center;
  padding-top: 5px;
}

.gallery_body {
  padding-top: 0.1px;
}

.gallery_hr {
  width: 95%;
  margin: auto;  /*This centers the hr line*/

}


.gwrapper {
    
  width: 100%;                 
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}



.gbox {
  background: url('C:/Users/casan/Desktop/Jc Website/images/phone2img.jpg') no-repeat;

  float: left;
  width: 20%;
  height: 240px;
  margin: 15px;
  border: 2px solid white;
  border-radius: 15px;
}

.galleryimg {
  border-radius: 15px;
  width: 100%;
  height: auto;

}

.galleryimg:hover {
  transform:scale(1.5);
  z-index: 2;
}

/*----------------------------------------------------------------------*/
/*-------------------------  Gallery Page End  -------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*------------------------  Contact Page Start  ------------------------*/
/*----------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.contact-body {
  font-weight: 400;

  margin: 0;
  padding-top: 0.1px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;

  

/*  background: url('C:/Users/casan/Desktop/Jc Website/images/hack.jpg') no-repeat;
  background-size: cover;*/
  height: 100vh

}


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.contactbody {
  width:  100%
}


.contact-form {
  width: 100%;
  max-width: 600px;                /*<< this makes the contact form responsive >>*/
  margin: 0 auto;                  /*<< this place the contact form horizontally in the center >>*/
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 15px;

  display: flex;                                 /*<< this makes contact form layout (can try flex) >>*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}


.contact-input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}




.contact-input-fields,
.contact-msg {
  /*padding: 0 30px;*/
  width: 27%;
}




.contact-input,
.contact-msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.contact-input {
  width: 380px;
}



.contact-msg textarea {
  height: 206px;
  width: 152px;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}

::-moz-input-placeholder {
  color: #c5ecfd;
}

::-ms-input-placeholder {
  color: #c5ecfd;
}

.contact-btn {
  background: #39b7dd;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}


/*Dimensions:  iPhone X*/
@media screen and (max-width: 600px) {   
  .wrapper {
    display:  flex;
  }
  .contact-form {
    flex-direction: column;
    width:  350px;
  }
  .contact-msg textarea {
    height: 80px;
  }
  .contact-input-fields,
  .contact-msg {
    width: 100%;
  }

  .contact-input,
  .contact-msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
}

/*----------------------------------------------------------------------*/
/*-------------------------  Contact Page End  -------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*-------------------------  login Page Start  -------------------------*/
/*----------------------------------------------------------------------*/


.login_main_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 350px;
  text-align: center;

  /*border: 2px white solid;*/
  background: rgba(0,0,0,0.8);
  border-radius: 15px;


}

.login_form i {
  z-index: 1;
  color: #ccc;
  font-size: 65px;
  margin-bottom: 30px;

}

.login_form .signup_form {
  display: none;
}

.login_form .user_input {
  width:  320px;
  height:  55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;

  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.login_form .user_input:hover, .login_form .user_input:focus, .login_form .user_input:active {
  border-left: solid 8px #4285F4;
  border-right: solid 8px #4285F4;
  box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);
}

.login_form .options-01 input {
  width:  15px;
  height: 15px;
  margin-right: 5px;
}

.login_form .options-01 .remember-me {
  color:  #bbb;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;

  padding-left: 14px;
}

.login_form .options-01 a {
  color:  #888;
  font-size: 14px;
  font-style: italic;
  float: right;

  padding-right: 14px;
}

.login_form .login_btn {
  margin-top: 20px;
  outline: none;
  border: none;
  width: 320px;
  height: 55px;
  background: #4285F4;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.login_form .login_btn:hover {
  border-left:  solid 8px rgba(255, 255, 255, 0.5);
  border-right:  solid 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);

}

.login_form .options-02 {
  color:  #bbb;
  font-size: 14px;
  margin-top: 30px;
}

.login_form .options-02 a {
  color:  #4285F4;
}



@media screen and (max-width:  500px) {
  .login_form {
    width: 95%;
  }

  .login_form .user_input {
    width: 93%;
  }

  .login_form .login_btn {
    width:  93%;
  }
}

/*----------------------------------------------------------------------*/
/*--------------------------  login Page End  --------------------------*/
/*----------------------------------------------------------------------*/

